@model Dictionary<string, Weather>
@{
    ViewData["Title"] = "Weather Tracker";
    /*
    var lincoln = ViewData["Lincoln"] as Weather;
    var omaha = ViewData["Omaha"] as Weather;
    var lincolnDeg = lincoln.WindDegrees + "deg";
    */
    <div class="text-center">
        <h1 class="display-4"><b>Welcome to Nebraska Weather Tracker</b></h1>
        <body><p>Nebraska Weather tracker is a online weather station data tracking tool created to capture the weather data from all the 43 weather station in Nebraska.<br />
                   This webpage is created for a METR100 Spring 2021 final class project by Ritvik Handa, Utkarsh Hardia, jay Sanjay Patel, Aleka Schlake and Onik Sisodiya.</p></body>
        <br /><br />
        @foreach (var x in Model.Keys)
        {
    <div style="float: left; width: 275px; margin-left: 30px; margin-right: 30px; height: 475px; margin-bottom: 25px;">
        <h3 style="text-align: center; height: 90px;">@x</h3>
        <div class="zenbox primary" style="width: 350px; height: 475px; ">

            <!---<p><b>@x</b></p>-->
            <p>@Model[x].TimeLastUpdated</p>
            <ul>
                <li><p>The Current Temp is @Model[x].Temp F</p></li>
                <li><p>The Current Wind Direction is @Model[x].WindDir</p></li>
                <li><p>The Current Wind Speed is @Model[x].WindMph MPH</p></li>
                <li><p>The Current Wind Degrees is @Model[x].WindDegrees</p></li>
                <li><p>The Current Relative Humidity is @Model[x].RelativeHumidity%</p></li>
                <li><p>The Current Dewpoint is @Model[x].Dewpoint F</p></li>
                <li><p>The Current Air Pressure is @Model[x].PressureMb mb</p></li>
            </ul>
        </div>
    </div>}
    </div>
}
